<!DOCTYPE html>
<html>
<head>

</head>
<body>
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


<h1>{{ entry.title }}</h1>

<p>{{ entry.content }}</p>



<p>WikiID: {{entry.location}}</p>

{% if entry.location %}

    <p>{{entry.wikilink}}</p>
    <p>
  	<a href="http://{{entry.wikilink}}">{{ entry.title }}</a> <br>
	</p>
	
{% else %}

    <form method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" value="content" name="save" />
    <button  class="btn btn-primary" type="submit" id="save_button_test">Save</button>
</form>
    
{% endif %}


<!--
<form method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" value="content" name="save" />
    <button  class="btn btn-primary" type="submit" id="save_button">Save</button>
</form>

<form method="get">{% csrf_token %}
    {{ form }}
    <button  class="btn btn-primary" type="submit" id="json_button">Json</button>
</form>
-->

{% endblock %}




</body>
</html>

